<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="~/css/Remuneration.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.css"
          integrity="sha512-CB+XYxRC7cXZqO/8cP3V+ve2+6g6ynOnvJD6p4E4y3+wwkScH9qEOla+BTHzcwB4xKgvWn816Iv0io5l3rAOBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <div class="container">
        <div class="text-center">
            Response for SSN: 560348482 Claim Number: 388628 Name WILSON Ginger Effective Date :
            7/22/2014
        </div>
        <h3 class="text-center claim_heading">Claimant - Remuneration</h3>
        <form class="form_1">
            <div class="form-group row">
                <label for="claimantSeparation" class="col-sm-3 col-form-label">
                    What kind of remuneration did or will
                    the claimant receive after the last day of work?
                </label>
                <div class="col-sm-9 input_end">
                    <select id="claimantSeparation" class="form-control">
                        <option selected>Selected</option>
                        <option>......</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="returnWork" class="col-sm-3 col-form-label">
                    What was the amount of the remuneration received
                    per period?
                </label>
                <div class="col-sm-9 input_end">
                    <textarea rows="4" cols="50" name="comment" id="notClaim"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="returnDate" class="col-sm-3 col-form-label">
                    What was the frequency of the claimant's
                    remuneration?
                </label>
                <div class="col-sm-9 input_end">
                    <select id="claimantSeparation" class="form-control">
                        <option selected>Selected</option>
                        <option>......</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="availableHours" class="col-sm-3 col-form-label">
                    What is the date the remuneration was or
                    will be
                    issued?
                </label>
                <div class="col-sm-9 input_end">
                    <input type="date" class="form-control" id="returnDate">
                </div>
            </div>
            <div class="form-group row">
                <label for="notClaim" class="col-sm-3 col-form-label">
                    Was the remuneration allocated?
                </label>
                <div class="col-sm-9 input_end">
                    <select id="typeOfLabour" class="form-control">
                        <option selected>Selected</option>
                        <option>......</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="typeOfLabour" class="col-sm-3 col-form-label">
                    What was the begining date
                    for the remuneration allocation?
                </label>
                <div class="col-sm-9 input_end">
                    <input type="date" class="form-control" id="returnDate">
                </div>
            </div>
            <div class="form-group row">
                <label for="earnedWages" class="col-sm-3 col-form-label">
                    What was the ending date
                    for the remuneration allocation?
                </label></label>
                <div class="col-sm-9 input_end">
                    <input type="date" class="form-control" id="returnDate">
                </div>
            </div>
            <div class="form-group row">
                <label for="weekWorkedAailable" class="col-sm-3 col-form-label">
                    What was the average
                    number of hours the claimant worked per week?
                </label>
                <div class="col-sm-9 input_end">
                    <input type="text" class="form-control" id="weeksWorked">
                </div>
            </div>
            <div class="form-group row">
                <label for="weeksWorked" class="col-sm-3 col-form-label">Was the retirement mandatory?</label>
                <div class="col-sm-9 input_end">
                    <select id="typeOfLabour" class="form-control">
                        <option selected>Selected</option>
                        <option>......</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="wagesEarnedLast" class="col-sm-3 col-form-label">Was the pension mandatory?</label>
                <div class="col-sm-9 input_end">
                    <select id="typeOfLabour" class="form-control">
                        <option selected>Selected</option>
                        <option>......</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="hoursWorkedLast" class="col-sm-3 col-form-label">
                    Does/did the claimant contribute to the
                    pension?
                </label>
                <div class="col-sm-9 input_end">
                    <select id="typeOfLabour" class="form-control">
                        <option selected>Selected</option>
                        <option>......</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="reasonForClaimant" class="col-sm-3 col-form-label">
                    What was the percentage of the pension
                    that the claimant contributed?
                </label>
                <div class="col-sm-9 input_end">
                    <input type="text" class="form-control" id="weeksWorked">
                </div>
            </div>
            <div class="form-group row">
                <label for="reasonableAssurance" class="col-sm-3 col-form-label">
                    Provide any additional information
                    about
                    the claimant's pension
                </label>
                <div class="col-sm-9 input_end">
                    <textarea rows="4" cols="50" name="comment" id="notClaim"></textarea>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
</body>

</html>