<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] SIDES</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://fonts.cdnfonts.com/css/helvetica-2" rel="stylesheet" />
@*    <link href="https://fonts.cdnfonts.com/css/helvetica-2" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/css/UCAAdvantage.css" asp-append-version="true" />
</head>
<body>

    <div class="container-fluid ">
        <div class="row header_top">
            <div class="col-md-6">
                <a href="default.aspx">
                    <img style="width: 201px;" src="~/Images/UCALogoSmaller.JPG" />
                </a>
            </div>
            <div class="col-md-6" style="text-align:end; margin-top:20px;">
                <a class="logout_link" href="http://test.ucadvantage.net/" onclick="noBack()">Logout</a>
            </div>
        </div>
    </div>
    
    <!-- --------------------------------------------------Navbar_Section--------------------------------------------------------------------------- -->

    <div class="nav_top">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="collapse2 navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Claims
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/ClaimsSearch.aspx">Claims/Charge Administration</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/ClientMainScreen2.aspx">Client Information</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/PayrollDataSearch.aspx">View Payroll Data</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/ClientDBASearch.aspx">Client DBA Search</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/ClientSUISearch.aspx">Client SUI Search</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/Adjudicator.aspx?type=1">Adjudicator</a></li>
                                <li><a class="dropdown-item" href="Sidesv2/SidesRequests.aspx">SIDES</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Executive
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/ClientMainScreen.aspx">Client Management</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/Reporting.aspx">Client Reporting</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/CompReporting.aspx">Comprehensive Reporting</a></li>
                              
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/SeparationCodes.aspx">Separation Codes</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/Representatives.aspx">Board/Hearing Reps</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/ClaimDelete.aspx">Delete Claim</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/TaxForm.aspx">Tax Administration</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/WHGReport.aspx">WHG Report</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/TNTReport.aspx">TNT Report</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/NCReport.aspx">No. of Claims Report</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/NCPReport.aspx">No. of Claims Pending Report</a></li>
                                <li>
                                    <a class="dropdown-item" href="http://test.ucadvantage.net/PayrollDataAllUpload.aspx">
                                        Upload Payroll Excel
                                        Data
                                    </a>
                                </li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/ChargeReport.aspx">Charge Report</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                User Management
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3"
                                style="margin-left: 9px;">
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/Users.aspx">View / Edit Existing Users</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/Add_User.aspx">Add New User</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/active_users.aspx">Active Users</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/active_users.aspx">Online Users</a></li>
                                <li><a class="dropdown-item" href="http://test.ucadvantage.net/Locked_users.aspx">Locked Users</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="data_box" style="height: auto;">
         <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        </div>
    </div>




   

   

    @*<footer class="footer-section" style="margin-top:50px;">

        <div class="footer_logo">
            <img src="~/Images/EVAWHITELOGO 111.png">
        </div>
        <div class="main_footer">
            <ul class="list-inline">
                <li><a href="#">Terms of Use |</a></li>
                <li><a href="#">Privacy Statement |</a></li>
                <li><a href="#">Return Policy</a></li>
            </ul>
        </div>
        <div class="footer-inner" style="margin-top:50px;">
            © Copyright 2015 by EV Advantage
        </div>
      


    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script language="JavaScript" type="text/javascript">
    //remove back button with all possibilities
    function noBack() { window.history.forward() }
    noBack();
    window.onload = noBack;
    window.onpageshow = function (evt) { if (evt.persisted) noBack() }
    window.onunload = function () { void (0) }
    //remove forward buttons
  //  javascript: window.history.forward(1);
</script>
